<footer class="footer">
  <small>
    <a href="http://www.lockea.com">Loockea</a>
    por Jorge Gaete
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de nosotros",   '#' %></li>
      <li><%= link_to "Contactanos", '#' %></li>
      <li><a href="http://www.lockea.com/blog">Noticias</a></li>
    </ul>
  </nav>
</footer>